footer a {
  color: white;
}

.navbar-brand{
  font-size: 32px !important;
}

.bg-black{
  background-color: black !important;
}

/*.nav-link{
  font-size: 32px !important;
}*/

.dropdown-item{
  font-size: 12px !important;
}

.navbar-text
{
  font-size: 32px !important;
  color: white !important;
  font-style: italic !important;
}

.navbar-custom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

hr{
  border-top: 1.5px solid black !important;
}

.jumbotron {
  margin-bottom: 0px;
}

.back2top 
{
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  z-index: 99;
}

.back2top:hover {
  color: white;
  background-color: #555; /* Add a dark-grey background on hover */
}

.col-half-offset{
  margin-left:4.166666667%
}

.carousel {
  position:relative;
}

.carousel-controls {
  position: absolute !important;
  /*top:50%;
  transform:TranslateY(-50%);*/
  width: 5% !important;
  min-width: 60px !important;
}

.carousel-control-prev{
  /*left: 5% !important;*/
  right: auto;
  left: 0px;
}

.carousel-control-next{
  /*right: 5% !important;*/
  left:auto;
  right: 0px;
}

/*.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 60px !important;
  height: 60px !important;
}*/

/* for a scrolling news ticker */
@keyframes scroll {
  from{
    transform: translateX(100%);
  }
  to {
    transform: translateX(calc(89px - 35698px))
  }
}
